<div>
  <div class="mainTitlePanel">
    <h1>{{'Inventary.title1' | translate }}</h1>
  </div>
  <div class="mainSubtitlePanel">
    <h3>{{'Inventary.subtitle' | translate }}</h3>
  </div>
  <div class="description">
    <div>
      <p>{{'Inventary.descripcion' | translate }}</p>
    </div>

    <div>
      <p>{{'Inventary.descripcion2' | translate }}</p>
    </div>
  </div>
</div>

@if ( inventaryFinished ) {
  <div class="container-buttons" >
    <div class="actionButtonsBox" (click)="clearMediaInventary()">
      <button class="button-64" role="button">
        <span class="text">Limpiar Matriz</span>
      </button>
    </div>
    <div class="actionButtonsBox" (click)="downloadMediaInventaryPdf()">
      <button class="button-64" role="button">
        <span class="text">Descargar Matriz</span>
      </button>
    </div>
  </div>
}

<div id="totalMatrizData">
  <div class="content-data-inventary">
    <div class="container-table mb-4">
      <table>
        <tr>
            <th>{{'Inventary.tabletTile1' | translate}}</th>
            <th>{{'Inventary.tabletTile2' | translate}}</th>
            <th>{{'Inventary.tabletTile3' | translate}}</th>
            <th>{{'Inventary.tabletTile4' | translate}}</th>
            <th>{{'Inventary.tabletTile5' | translate}}</th>
            <th>{{'Inventary.tabletTile6' | translate}}</th>
            <th>{{'Inventary.tabletTile7' | translate}}</th>
            <th>{{'Inventary.tabletTile8' | translate}}</th>
        </tr>
        <tr class="info-user-box3">
          <th colspan="8" class="TitleBox1">{{'Inventary.titleInterna' | translate}}</th>
        </tr>
        @for (form of internComunication; track $index) {
          <tr [formGroup]="form">
            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="channel"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('channel')?.invalid && form.get('channel')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w select-h" appearance="fill">
                <mat-label> Selecciona </mat-label>
                <mat-select formControlName="characteristics">
                  @for (food of characteristics; track food) {
                    <mat-option [value]="food">{{ food }}</mat-option>
                  }
                </mat-select>
                <mat-error *ngIf="form.get('characteristics')?.invalid && form.get('characteristics')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="restrictions"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('restrictions')?.invalid && form.get('restrictions')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="periodicity"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('periodicity')?.invalid && form.get('periodicity')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="indicators"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('indicators')?.invalid && form.get('indicators')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="scope"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('scope')?.invalid && form.get('scope')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="topics"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('topics')?.invalid && form.get('topics')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="responsible"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('responsible')?.invalid && form.get('responsible')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            @if ( !inventaryFinished ) {
              <td class="button-cell last-cell">
                @if ( internComunication.length > 1 ) {
                  <button mat-mini-fab color="primary" (click)="deleteRow( $index, internComunication )">
                    <mat-icon>remove</mat-icon>
                  </button>
                }
                @if ( $index === internComunication.length - 1 ) {
                  <button mat-mini-fab color="primary" (click)="addRow( this.internComunication )">
                    <mat-icon>add</mat-icon>
                  </button>
                }
              </td>
            }

          </tr>
        }


        <tr class="info-user-box3">
          <th colspan="8" class="TitleBox1">{{'Inventary.titleExterna' | translate}}</th>
        </tr>
        @for (form of externComunication; track $index) {
          <tr [formGroup]="form">
            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="channel"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('channel')?.invalid && form.get('channel')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w select-h" appearance="fill">
                <mat-label> Selecciona </mat-label>
                <mat-select formControlName="characteristics">
                  @for (food of characteristics; track food) {
                    <mat-option [value]="food">{{ food }}</mat-option>
                  }
                </mat-select>
                <mat-error *ngIf="form.get('characteristics')?.invalid && form.get('characteristics')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="restrictions"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('restrictions')?.invalid && form.get('restrictions')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="periodicity"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('periodicity')?.invalid && form.get('periodicity')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="indicators"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('indicators')?.invalid && form.get('indicators')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="scope"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('scope')?.invalid && form.get('scope')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="topics"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('topics')?.invalid && form.get('topics')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="responsible"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('responsible')?.invalid && form.get('responsible')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            @if ( !inventaryFinished ) {
              <td class="button-cell last-cell">
                @if ( externComunication.length > 1 ) {
                  <button mat-mini-fab color="primary" (click)="deleteRow( $index, externComunication )">
                    <mat-icon>remove</mat-icon>
                  </button>
                }
                @if ( $index === externComunication.length - 1 ) {
                  <button mat-mini-fab color="primary" (click)="addRow( this.externComunication )">
                    <mat-icon>add</mat-icon>
                  </button>
                }
              </td>
            }

          </tr>
        }

        <tr class="info-user-box3">
            <th colspan="8" class="TitleBox1">{{'Inventary.titleMarketing' | translate}}</th>
        </tr>
        @for (form of marketingComunication; track $index) {
          <tr [formGroup]="form">
            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="channel"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('channel')?.invalid && form.get('channel')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w select-h" appearance="fill">
                <mat-label> Selecciona </mat-label>
                <mat-select formControlName="characteristics">
                  @for (food of characteristics; track food) {
                    <mat-option [value]="food">{{ food }}</mat-option>
                  }
                </mat-select>
                <mat-error *ngIf="form.get('characteristics')?.invalid && form.get('characteristics')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="restrictions"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('restrictions')?.invalid && form.get('restrictions')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="periodicity"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('periodicity')?.invalid && form.get('periodicity')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="indicators"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('indicators')?.invalid && form.get('indicators')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="scope"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('scope')?.invalid && form.get('scope')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="topics"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('topics')?.invalid && form.get('topics')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            <th class="column-form">
              <mat-form-field class="form-field-w" appearance="fill">
                <textarea
                  matInput
                  type="text"
                  formControlName="responsible"
                  placeholder="{{'Inventary.titleComentary' | translate}}"
                  rows="3"
                ></textarea>
                <mat-error *ngIf="form.get('responsible')?.invalid && form.get('responsible')?.touched">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </th>

            @if ( !inventaryFinished ) {
              <td class="button-cell last-cell">
                @if ( marketingComunication.length > 1 ) {
                  <button mat-mini-fab color="primary" (click)="deleteRow( $index, marketingComunication )">
                    <mat-icon>remove</mat-icon>
                  </button>
                }
                @if ( $index === marketingComunication.length - 1 ) {
                  <button mat-mini-fab color="primary" (click)="addRow( this.marketingComunication )">
                    <mat-icon>add</mat-icon>
                  </button>
                }
              </td>
            }

          </tr>
        }
      </table>
    </div>

    @if ( !inventaryFinished ) {
      <div class="container-button-save">
        <div class="actionButtonsBox" (click)="saveValuesForms()">
          <button class="button-64" role="button"><span class="text">Guardar Matriz</span></button>
        </div>
      </div>
    }

  </div>

</div>
